* {
    font-size: 20px;
  }
  
  originalName {
    font-size: 23px;
    font-weight: bold;
    color: red;
  }
  
  category {
   font-size: 28px;
   display: block;
   font-weight: bold;
  }
  
  title {
    font-size: 30px;
    font-weight: bold;
  }
  